*{
--primary-color : #FF6A3D;
--secondary-color : #FFA372;
--tertiary-color : #000000;

}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: var(--tertiary-color);
}