spring:
  web:
    error:
      include-message: always
      include-binding-errors: always
  jackson:
    deserialization:
      fail-on-unknown-properties: true
  datasource:
    url: jdbc:postgresql://aws-1-ap-south-1.pooler.supabase.com:6543/postgres
    username: postgres.rbyiitbryebpptdgttwh
    password: daYIjIgJ4NNAy4S1
    driver-class-name: org.postgresql.Driver

    hikari:
      maxLifetime: 300000
      idleTimeout: 200000
      connectionTimeout: 30000
      maximumPoolSize: 10
      minimumIdle: 2
      # Fix for prepared statement conflict
      data-source-properties:
        preparedStatementCacheQueries: 0
        preparedStatementCacheSizeMiB: 0
        cachePrepStmts: false
        reWriteBatchedInserts: true

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          batch_size: 20
        order_inserts: true
        order_updates: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  mail:
    host: smtp.gmail.com
    port: 587
    username: 'annoa16307@gmail.com'
    password: 'pekz ktlm sgzs ibtp'
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
      mail.smtp.starttls.required: true