spring:
  web:
    error:
      include-message: always
      include-binding-errors: always
  datasource:
    url: jdbc:postgresql://aws-1-ap-south-1.pooler.supabase.com:6543/postgres
    username: postgres.rbyiitbryebpptdgttwh
    password: daYIjIgJ4NNAy4S1
  jpa:
    hibernate:
      ddl-auto: create-drop
    show_sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true